<% provide(:title, 'Wyrd Users') %>
<div class="container">
  <h1>Wyrd Users</h1>
  <hr>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user_path(user.id) %>
        <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "Hmm, that's wyrd. Are you sure?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>