<% provide(:title, @user.name) %>
<div class="container">
  <h2><%= @user.name %></h2>
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <% most_recent_books(@user, 3).each do |book| %>
        <%= link_to image_tag(book.thumbnail, class: 'img-rounded'), book_path(book.id) %>
      <% end %>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">      
      <div class="container">
        <% @user.shelves.each do |shelf| %>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <%= link_to shelf.name, shelf_path(shelf.id), class: 'btn btn-primary btn-block' %>
            <br>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>