<% provide(:title, 'My Books') %>

<div class="container">
<h1>Your Books</h1>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3 col-sm-4 col-xs-6">
          <%= link_to (image_tag book.thumbnail, class: 'img-rounded'), book_path(book.id) %>
          <br>
          <%= link_to "delete", book, method: :delete, data: { confirm: 'Really?' } %>
      </div>
    <% end %>
  </div>
</div>
